body {
  padding-top: 0px;
  background-color: rgb(211, 215, 208);
}

.principal {
  padding: 15px 15px;
  text-align: justify;
}

.ativar {
  background-color: #00FF00;
  border-color: #006400;
  color: #fff;
}
.footer {
    background-color: whitesmoke;
    padding: 3rem 1.5rem 3rem;
}

.np-padding-t-15 {
    padding-top: 15px;
}

.np-padding-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.np-padding-15 {
    padding: 20px;
}

.np-padding-20 {
    padding: 20px;
}

.np-form {
    clear: both;
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.285em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  position: relative;
  vertical-align: top;
  background-color: white;
  border: 1px solid #dbdbdb;
  color: #363636;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}
.input-h {
    display: inline;
}

.input-w-3 {
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.285em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        position: relative;
        vertical-align: top;
        background-color: white;
        border: 1px solid #dbdbdb;
        color: #363636;
        box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
        max-width: 100%;
        min-width: 30%;
        width: 30%;
}

.input-w-4 {
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.285em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        position: relative;
        vertical-align: top;
        background-color: white;
        border: 1px solid #dbdbdb;
        color: #363636;
        box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
        max-width: 100%;
        min-width: 40%;
        width: 15.4em;
}

.input-w-6 {
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.285em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        position: relative;
        vertical-align: top;
        background-color: white;
        border: 1px solid #dbdbdb;
        color: #363636;
        box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
        max-width: 100%;
        width: 17.6em;
}

.input-w-8 {
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        display: inline-flex;
        font-size: 1rem;
        height: 2.285em;
        justify-content: flex-start;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        position: relative;
        vertical-align: top;
        background-color: white;
        border: 1px solid #dbdbdb;
        color: #363636;
        box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
        max-width: 100%;
        width: 20.8em;
}

.input-w-3:focus, .input-w-3.is-focused, .input-w-3:active, .input-w-3.is-active,
.input-w-3:focus, .input-w-4.is-focused, .input-w-4:active, .input-w-4.is-active,
.input-w-3:focus, .input-w-6.is-focused, .input-w-6:active, .input-w-6.is-active,
.input-w-3:focus, .input-w-8.is-focused, .input-w-8:active, .input-w-8.is-active {
  outline: none;
}

.input-w-3[disabled], .input-w-3.is-disabled,
.input-w-4[disabled], .input-w-4.is-disabled,
.input-w-6[disabled], .input-w-6.is-disabled,
.input-w-8[disabled], .input-w-8.is-disabled {
  pointer-events: none;
}

.input-w-3:hover, .input-w-3.is-hovered,
.input-w-4:hover, .input-w-4.is-hovered,
.input-w-6:hover, .input-w-6.is-hovered,
.input-w-8:hover, .input-w-8.is-hovered {
  border-color: #b5b5b5;
}

.input-w-3:focus, .input-w-3.is-focused, .input-w-3:active, .input-w-3.is-active,
.input-w-4:focus, .input-w-4.is-focused, .input-w-4:active, .input-w-4.is-active,
.input-w-6:focus, .input-w-6.is-focused, .input-w-6:active, .input-w-6.is-active,
.input-w-8:focus, .input-w-8.is-focused, .input-w-8:active, .input-w-8.is-active  {
  border-color: #00d1b2;
}

.input-w-3[disabled], .input-w-3.is-disabled,
.input-w-4[disabled], .input-w-4.is-disabled,
.input-w-6[disabled], .input-w-6.is-disabled,
.input-w-8[disabled], .input-w-8.is-disabled {
  background-color: whitesmoke;
  border-color: whitesmoke;
  /*box-shadow: none;*/
  color: #7a7a7a;
}

.input-w-3[disabled]::-moz-placeholder, .input-w-3.is-disabled::-moz-placeholder,
.input-w-4[disabled]::-moz-placeholder, .input-w-4.is-disabled::-moz-placeholder,
.input-w-6[disabled]::-moz-placeholder, .input-w-6.is-disabled::-moz-placeholder,
.input-w-8[disabled]::-moz-placeholder, .input-w-8.is-disabled::-moz-placeholder  {
  color: rgba(54, 54, 54, 0.3);
}

.input-w-3[disabled]::-webkit-input-placeholder, .input-w-3.is-disabled::-webkit-input-placeholder,
.input-w-4[disabled]::-webkit-input-placeholder, .input-w-4.is-disabled::-webkit-input-placeholder,
.input-w-6[disabled]::-webkit-input-placeholder, .input-w-6.is-disabled::-webkit-input-placeholder,
.input-w-8[disabled]::-webkit-input-placeholder, .input-w-8.is-disabled::-webkit-input-placeholder  {
  color: rgba(54, 54, 54, 0.3);
}

.input-w-3[disabled]:-moz-placeholder, .input-w-3.is-disabled:-moz-placeholder,
.input-w-4[disabled]:-moz-placeholder, .input-w-4.is-disabled:-moz-placeholder,
.input-w-6[disabled]:-moz-placeholder, .input-w-6.is-disabled:-moz-placeholder,
.input-w-8[disabled]:-moz-placeholder, .input-w-8.is-disabled:-moz-placeholder  {
  color: rgba(54, 54, 54, 0.3);
}

.input-w-3[disabled]:-ms-input-placeholder, .input-w-3.is-disabled:-ms-input-placeholder,
.input-w-4[disabled]:-ms-input-placeholder, .input-w-4.is-disabled:-ms-input-placeholder,
.input-w-6[disabled]:-ms-input-placeholder, .input-w-6.is-disabled:-ms-input-placeholder,
.input-w-8[disabled]:-ms-input-placeholder, .input-w-8.is-disabled:-ms-input-placeholder  {
  color: rgba(54, 54, 54, 0.3);
}

.input-w-3[type="search"], .input-w-4[type="search"],
.input-w-6[type="search"], .input-w-8[type="search"] {
  border-radius: 290486px;
}

.input-w-3.is-white, .input-w-4.is-white,
.input-w-6.is-white, .input-w-8.is-white {
  border-color: white;
}

.input-w-3.is-black, .input-w-4.is-black,
.input-w-6.is-black, .input-w-8.is-black {
  border-color: #0a0a0a;
}

.input-w-3.is-light, .input-w-4.is-light,
.input-w-6.is-light, .input-w-8.is-light {
  border-color: whitesmoke;
}

.input-w-3.is-dark, .input-w-4.is-dark,
.input-w-6.is-dark, .input-w-8.is-dark {
  border-color: #363636;
}

.input-w-3.is-primary, .input-w-4.is-primary,
.input-w-6.is-primary, .input-w-8.is-primary  {
  border-color: #00d1b2;
}

.input-w-3.is-info, .input-w-4.is-info,
.input-w-6.is-info, .input-w-8.is-info {
  border-color: #3273dc;
}

.input-w-3.is-success, .input-w-4.is-success,
.input-w-6.is-success, .input-w-8.is-success {
  border-color: #23d160;
}

.input-w-3.is-warning, .input-w-4.is-warning,
.input-w-6.is-warning, .input-w-8.is-warning  {
  border-color: #ffdd57;
}

.input-w-3.is-danger, .input-w-4.is-danger,
.input-w-6.is-danger, .input-w-8.is-danger {
  border-color: #ff3860;
}

.input-w-3.is-small, .input-w-4.is-small,
.input-w-6.is-small, .input-w-8.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}

.input-w-3.is-medium, .input-w-4.is-medium,
.input-w-6.is-medium, .input-w-8.is-medium {
  font-size: 1.25rem;
}

.input-w-3.is-large, .input-w-4.is-large,
.input-w-6.is-large, .input-w-8.is-large {
  font-size: 1.5rem;
}

.input-w-3.is-fullwidth, .input-w-4.is-fullwidth,
.input-w-6.is-fullwidth, .input-w-8.is-fullwidth {
  display: block;
  width: 100%;
}

.input-w-3.is-inline, .input-w-4.is-inline,
.input-w-6.is-inline, .input-w-8.is-inline     {
  display: inline;
  width: auto;
}



.hero-body npTitle {
    padding: 1rem 1.9rem;
}
